<!-- dashboard.component.html -->
<div class="container-fluid">
    <div class="row">
        <!-- Chat List -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-2 chat-container" [class.d-none]="isMobileView && !showChatList">
            <mat-list class="chat-list">
                <mat-list-item class="chat-item mb-2 d-flex justify-content-center">
                    <button mat-raised-button class="w-100 text-start" (click)="addNewChat()" aria-label="Add new chat"
                        style="color: green;">
                        <mat-icon class="me-2">add</mat-icon> Configure New Chat
                    </button>
                </mat-list-item>

                <ng-container *ngIf="!newChatMode; else newChatForm">
                    <mat-list-item *ngFor="let chat of chatList" class="chat-item mb-1"
                        [class.selected]="selectedChat?.id === chat.id" (click)="selectChat(chat)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 d-flex pt-2">
                                    <img mat-list-avatar src="assets/user.png" class="img-fluid" alt="Avatar" />
                                    <div mat-line>
                                        <h6 class="mb-0">{{ chat.name }}</h6>
                                        <small class="text-muted">{{ chat.timestamp | date: 'shortTime' }}</small>
                                    </div>
                                </div>
                                <div class="col-12 d-flex mb-1">
                                    <div mat-line>
                                        <small class="text-truncate me-2">{{ chat.lastMessage }}</small>
                                        <span *ngIf="chat.unread" matBadge="{{ chat.unread }}" matBadgeColor="primary"
                                            class="custom-badge"></span>
                                        <small *ngIf="chat.isTyping" class="text-primary">typing...</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-list-item>
                </ng-container>

                <ng-template #newChatForm>
                    <div class="p-3">
                        <h5 class="mb-3 text-primary">Configure New Chat</h5>
                        <form (ngSubmit)="confirmNewChat()">
                            <div class="mb-3">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Chat Name</mat-label>
                                    <input matInput [(ngModel)]="newChatName" name="chatName" required />
                                </mat-form-field>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button mat-stroked-button color="warn" (click)="cancelNewChat()"
                                    type="button">Cancel</button>
                                <button mat-raised-button color="primary" type="submit"
                                    [disabled]="!newChatName.trim()">Save Chat</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </mat-list>
        </div>

        <!-- Chat Window -->
        <div class="col-lg-9 col-md-6 col-sm-12 mb-2">
            <div class="container-fluid chat-window-container" *ngIf="selectedChat || !isMobileView">
                <ng-container *ngIf="selectedChat; else welcomeBlock">
                    <div class="row">
                        <div class="col-12 pt-2">
                            <div class="chat-header d-flex align-items-center">
                                <button *ngIf="isMobileView" mat-icon-button (click)="backToChatList()" class="me-2">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                                <img mat-list-avatar src='assets/user.png' class="avatar" alt="Avatar" />
                                <div class="ms-2">
                                    <h6 class="mb-0 user-name">{{ selectedChat.name }}</h6>
                                    <small class="text-muted user-status">{{ selectedChat.online ? 'Online' : 'Offline'
                                        }}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row flex-grow-1 overflow-auto">
                        <div class="col-12 pt-2 mb-1">
                            <div class="message-scroll-container" id="messageContainer">
                                <div *ngFor="let group of groupedMessages">
                                    <div class="date-divider text-center my-3">
                                        <span class="date-label">{{ formatDateLabel(group.date) }}</span>
                                    </div>

                                    <div *ngFor="let message of group.messages" class="d-flex flex-column mb-2"
                                        [ngClass]="{ 'align-items-end': message.sender === 'me', 'align-items-start': message.sender !== 'me' }"
                                        (click)="message.sender === 'me' && toggleMessageDetails(message)">

                                        <mat-card class="message-content" [ngClass]="{
                      'sent-message': message.sender === 'me',
                      'received-message': message.sender !== 'me'
                    }">
                                            <mat-card-content>
                                                <p class="mb-1 message-text">{{ message.text }}</p>
                                                <div
                                                    class="message-meta d-flex justify-content-end align-items-center gap-1">
                                                    <span class="message-time">{{ message.timestamp | date: 'HH:mm'
                                                        }}</span>
                                                    <ng-container *ngIf="message.sender === 'me'">
                                                        <mat-icon class="status-icon"
                                                            [ngClass]="getMessageIconColor(message.stateLabel)">
                                                            {{ getMessageIcon(message.stateLabel) }}
                                                        </mat-icon>
                                                    </ng-container>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>

                                        <!-- Status Label -->
                                        <div *ngIf="message === expandedMessage" class="status-label mt-1"
                                            [ngClass]="getMessageIconColor(message.stateLabel)">
                                            <span class="label-text">{{ message.stateLabel }}</span>
                                            <mat-icon class="label-icon">{{ getMessageIcon(message.stateLabel)
                                                }}</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-1">
                            <div class="chat-input-box d-flex align-items-center justify-content-center">
                                <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
                                    class="form-control chat-input-field" placeholder="Type a message..." maxlength="18"/>
                                <button class="btn send-btn" (click)="sendMessage()">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #welcomeBlock>
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <div class="col-12">
                            <div class="welcome">Welcome</div>
                            <div class="message">Select a chat to start messaging. <br> You can send and receive
                                messages here</div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>