<div class="main-container">
    <header class="header">
      <div class="logo">
        <img src="/favicon.ico" alt="logo" />
        <div class="logo-text">SenseLive</div>
      </div>
    </header>
    <div class="login-container">
      <div class="card">
        <div class="card-content mb-2">
          <div class="row">
            <div class="col-12 mt-2">
              <div class="h3">Sign In</div>
            </div>
          </div>
          <form>
            <div class="row">
              <div class="col-12">
                <label for="email">Username or Email</label>
              </div>
              <div class="col-12 position-relative">
                <input
                  type="email"
                  id="email"
                  placeholder="Enter your email"
                  [formControl]="email"
                  required
                />
                <mat-icon *ngIf="email.valid" class="valid-icon">check</mat-icon>
                <div>
                  <mat-error *ngIf="email.invalid && email.touched">
                    {{ getErrorMessage() }}
                  </mat-error>
                </div>
              </div>
              <div class="col-12">
                <label for="password">Password</label>
              </div>
              <div class="col-12 position-relative">
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  [formControl]="password"
                  id="password"
                  placeholder="Enter your password"
                />
                <mat-icon
                  *ngIf="password.value"
                  class="eye-icon"
                  (click)="hide = !hide"
                >
                  {{ hide ? "visibility_off" : "visibility" }}
                </mat-icon>
              </div>
              <div>
                <mat-error *ngIf="password.invalid && password.touched">{{
                  getPasswordErrorMessage()
                }}</mat-error>
              </div>
              <div class="col-12 mt-4 mb-2" >
                <button
                  type="submit"
                  class="sign-in"
                  (click)="submit()"
                  [disabled]="loading"
                >
                  {{ loadingMessage }}
                </button>
              </div>
              <!-- <div class="col-12 mt-4 mb-2 text-center">
                <a routerLink="/authentication/forgot" class="text-center">
                  Forgot Password ?
                </a>
              </div> -->
            </div>
            <div
              class="row"
              *ngIf="
                errorMessage ===
                'User is not verified. Please verify your account.'
              "
            >
              <div class="col">
                <div class="text-center">
                  <a class="link" routerLink="/authentication/send-verify">
                    <h6>Verify User</h6>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-text">
        ©  <a href="https://www.senselive.in/"> Senselive Technologies.</a>
        All Right Reserved. Release version v1.0.0</div>
    </footer>
    
  </div>
  