<div class="container-fluid dash">
  <div class="card-container feature-card">

    <mat-card (click)="goTo('/u/ble')" class="clickable-card">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-4">
            <div class="title-icon">
              <mat-icon>bluetooth</mat-icon>
            </div>
          </div>
          <div class="col-8">
            <div class="title">Mobile Oriented</div>
          </div>
          <div class="col-12 description">
            Select a nearby device to send a message.
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card (click)="goTo('/u/mt')" class="clickable-card">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-4">
            <div class="title-icon">
              <mat-icon>mobile_friendly</mat-icon>
            </div>
          </div>
          <div class="col-8">
            <div class="title">Mobile Terminated</div>
          </div>
          <div class="col-12 description">
            Select to send a message to the selected contact.
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
